<h1>Sign In</h1>

<%= form_tag new_session_url, method: 'post' do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_tag :password %>
  <%= submit_tag "Log On" %>
  <% end %>
