<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @company.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @company.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @company.postal %>
</p>

<p>
  <strong>Business category:</strong>
  <%= @company.business_category %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
